<h1>Newsletter</h1>

<p>
	Wahou!
</p>
<% user = User.find_by_email(@email) %>


<% if Rails.env.production? %>
<p>Bouton prod</p>
	<a href="<%= unsubscribe_url(user.random_string, host: 'https://agile-anchorage-86029.herokuapp.com') %>" method='get'>Se désinscrire</a>
<% else %>
<p>Bouton Local</p>
	<a href="<%= unsubscribe_url(user.random_string, host: 'localhost:3000') %>" method='get'>Se desinscrire </a>
<% end %>